.network {
    display: table-cell;
    width: 95%;
    height: 500px;
    border: 6px solid gray;
    float: left;
}

.textblock {
    font-family: .cm { font-family: "Computer Modern"; };
    display: table-cell;
    width: 40%;
    line-height: 30px;
    border: 6px solid gray;
    padding: 10px;
    text-align: justify;  
    background: rgba(243, 242, 220, 1);
    margin-left: 40%;
    vertical-align: top;
}
