@font-face {
	font-family: 'Computer Modern Serif';
	src: url('CMU_Fonts/Serif/cmunrm.eot');
	src: url('CMU_Fonts/Serif/cmunrm.eot?#iefix') format('embedded-opentype'),
		 url('CMU_Fonts/Serif/cmunrm.woff') format('woff'),
		 url('CMU_Fonts/Serif/cmunrm.ttf') format('truetype'),
		 url('CMU_Fonts/Serif/cmunrm.svg#cmunrm') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'Computer Modern Serif';
	src: url('CMU_Fonts/Serif/cmunbx.eot');
	src: url('CMU_Fonts/Serif/cmunbx.eot?#iefix') format('embedded-opentype'),
		 url('CMU_Fonts/Serif/cmunbx.woff') format('woff'),
		 url('CMU_Fonts/Serif/cmunbx.ttf') format('truetype'),
		 url('CMU_Fonts/Serif/cmunbx.svg#cmunbx') format('svg');
	font-weight: bold;
	font-style: normal;
}


@font-face {
	font-family: 'Computer Modern Serif';
	src: url('CMU_Fonts/Serif/cmunti.eot');
	src: url('CMU_Fonts/Serif/cmunti.eot?#iefix') format('embedded-opentype'),
		 url('CMU_Fonts/Serif/cmunti.woff') format('woff'),
		 url('CMU_Fonts/Serif/cmunti.ttf') format('truetype'),
		 url('CMU_Fonts/Serif/cmunti.svg#cmunti') format('svg');
	font-weight: normal;
	font-style: italic;
}


@font-face {
	font-family: 'Computer Modern Serif';
	src: url('CMU_Fonts/Serif/cmunbi.eot');
	src: url('CMU_Fonts/Serif/cmunbi.eot?#iefix') format('embedded-opentype'),
		 url('CMU_Fonts/Serif/cmunbi.woff') format('woff'),
		 url('CMU_Fonts/Serif/cmunbi.ttf') format('truetype'),
		 url('CMU_Fonts/Serif/cmunbi.svg#cmunbi') format('svg');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Computer Modern Sans';
	src: url('CMU_Fonts/Sans/cmunss.eot');
	src: url('CMU_Fonts/Sans/cmunss.eot?#iefix') format('embedded-opentype'),
		 url('CMU_Fonts/Sans/cmunss.woff') format('woff'),
		 url('CMU_Fonts/Sans/cmunss.ttf') format('truetype'),
		 url('CMU_Fonts/Sans/cmunss.svg#cmunss') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'Computer Modern Sans';
	src: url('CMU_Fonts/Sans/cmunsx.eot');
	src: url('CMU_Fonts/Sans/cmunsx.eot?#iefix') format('embedded-opentype'),
		 url('CMU_Fonts/Sans/cmunsx.woff') format('woff'),
		 url('CMU_Fonts/Sans/cmunsx.ttf') format('truetype'),
		 url('CMU_Fonts/Sans/cmunsx.svg#cmunsx') format('svg');
	font-weight: bold;
	font-style: normal;
}


@font-face {
	font-family: 'Computer Modern Sans';
	src: url('CMU_Fonts/Sans/cmunsi.eot');
	src: url('CMU_Fonts/Sans/cmunsi.eot?#iefix') format('embedded-opentype'),
		 url('CMU_Fonts/Sans/cmunsi.woff') format('woff'),
		 url('CMU_Fonts/Sans/cmunsi.ttf') format('truetype'),
		 url('CMU_Fonts/Sans/cmunsi.svg#cmunsi') format('svg');
	font-weight: normal;
	font-style: italic;
}


@font-face {
	font-family: 'Computer Modern Sans';
	src: url('CMU_Fonts/Sans/cmunso.eot');
	src: url('CMU_Fonts/Sans/cmunso.eot?#iefix') format('embedded-opentype'),
		 url('CMU_Fonts/Sans/cmunso.woff') format('woff'),
		 url('CMU_Fonts/Sans/cmunso.ttf') format('truetype'),
		 url('CMU_Fonts/Sans/cmunso.svg#cmunso') format('svg');
	font-weight: bold;
	font-style: italic;
}


body {
 color: #111111 !important;
 background-color: #fffff1 !important;
 font-family: 'Computer Modern Sans', sans-serif;
 font-size: 1.1em;
 line-height: 1.5em;
 max-width: 45em;
 margin: auto;
 padding: 0 2%;
}

h1 {text-align: center;}

h2 {text-align: center;}

h3 {text-align: center;}

img {
 max-width: 100%;
 display: block;
 margin: .75em auto;
}

.center-justified {
  text-align: justify;
  margin: auto;
  max-width: 45em;
}
